If:
  PathMatch: .*\.h$

CompileFlags:
  Add:
    - -target
    - bpf
    - -D__TARGET_ARCH_x86
    - -I.
    - -I./include
    - -I/usr/include/bpf
    - "-x"
    - "c"
    - "-D__always_inline=inline __attribute__((__always_inline__))"
